<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HuynhTran</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <div class="main-header">
            <div class="logo">
                <h1>CƠ ĐIỆN TỬ</h1>
                <p>IoT - AI - CAD/CAM/CAE</p>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Tìm kiếm sản phẩm...">
                <button>Tìm kiếm</button>
            </div>
            <div class="logo">
                <div class="top-bar">
                    <div class="account-info">
                        <span>Huynh.technical@gmail.com</span> | <span>0388759065</span> | <span>8 AM - 17:30 PM</span>
                    </div>
                </div>
                <div class="account-info">
                    <a href="#">Facebook</a>
                    <a href="#">Up Work</a>
                    <a href="#">Linker</a>
                    <a href="#">Github</a>
                </div>
            </div>
        </div>
    </header>

    <nav class="nav-bar">
        <ul>
            <li class="dropdown">
                <a href="#" class="dropbtn">TRANG CHỦ</a>
                <div class="dropdown-content">
                    <a href="huynhtran.online/orangepi">Orange Pi</a>
                    <a href="#">ESP32-CAM</a>
                    <a href="#">Home Assistant</a>
                </div>
            </li>
            <li><a href="#">PROFILE</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">SẢN PHẨM</a>
                <div class="dropdown-content">
                    <a href="#">DIY Độc</a>
                    <a href="#">Kho Phần Mềm</a>
                    <a href="#">Thư viện giáo trình</a>
                    <a href="#">Đồ án - Lập Trình</a>
                    <a href="#">Tài Liệu VĐK-PIC</a>
                    <a href="#">Youtube 3M</a>
                    <a href="#">Lập trình VĐK</a>
                    <a href="#">Hướng dẫn học tập</a>
                </div>
            </li>
            <li><a href="#">TÀI LIỆU</a></li>
        </ul>
    </nav>

    <section class="banner">
        <img src="your-banner-image.jpg" alt="Thông báo thay đổi địa chỉ">
    </section>

</body>

</html>