<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiển thị ảnh Orange Pi Zero 3</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <!-- Combo Box -->
    <select id="options">
        <option value="option1">Tùy chọn 1</option>
        <option value="option2">Tùy chọn 2</option>
        <option value="option3">Tùy chọn 3</option>
    </select>

    <h1>Orange Pi Zero 3</h1> <!-- Dòng chữ cam -->
    <img src="image_orangepi.png" alt="Orange Pi Zero 3" class="large-image">
    <button onclick="window.location.href='https://huynhtran.online/sshpi'">Chuyển đến SSH Pi</button>
</body>

</html>